@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --gpt-gray: #343541;
  --gpt-sidebar: #282933;
  --gpt-lightgray: #40414f;
  --gpt-text: #ededed;
  --strategy-blue: #071c41;
  --bg: #fdfdfd;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  background-color: var(--bg);
  color: var(--gpt-sidebar);
}

.container__layout .content {
  flex: 1;
}

.container {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2%;
}
