

.sale_detail__container .sale_detail {
    background-color: #fafafa;
    padding: 1rem;
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.1);
}

.sale_detail h2 {
    border-bottom: .1rem solid #777;
    padding-bottom: .5rem;
    margin-bottom: 4rem;
}
.sale_detail .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
